* {
    box-sizing: border-box;
    margin:0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:0;
    background: #ffc0c7;
    color: #8f164c;
}

.header {
    background: #b32377;
    text-align:center;
    color: rgb(255, 231, 231);
    padding: 30px;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    font-size: 3em;
    color: #ffcbe2;
    margin-bottom: 10px;
    text-shadow: #fcdbeb 0px 0px 30px;
}
h3 {
    margin-bottom: 10px;
}


.info-card {
    background: #fff4f7;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: #e484bc 0px 4px 8px;
}

a {
    color:#d62675;
    font-weight: bold;
}

a:hover {
    color:#c01e67
}

.important {
    font-size: 14pt;
}

button {
    background: #b32377;
    color: #ffc0c7;
    border: none;
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #c01e67;
}

footer {
    position:fixed;
    bottom: 0;
    left:0;
    width: 100%;
    background: #b32377;
    text-align: center;
    color:#ffc0c7;
    padding: 30px;
}